<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        作品の投稿
      </h1>
    </div>
  </div>
</section>
            


<% if @performance.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<%end%>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @performance, url: step1_perform_steps_path, method: :post do |f| %>
          
          <div class="field">
            <%= f.label :image, "フライヤー" %>
            <%= f.file_field :image, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :title, "公演タイトル", class: "label" %>
            <%= f.text_field :title , class: "input", id: 'title', autofocus: true, placeholder: '例）かもめ' %>
          </div>

          <div class="field">
            <%= f.label :explain , "公演内容" ,class: "label" %>
            <%= f.text_area :explain , class: "textarea",id: 'explain',autofocus: true, placeholder: '例）かもめ'%>
          </div>

          <div class="field">
            <%= f.label :start_date , "公演開始(予定)日"  %>
              <div class='input is-grouped'>
                <%= raw sprintf(
                            f.date_field(
                              :start_date,
                              class:'select-date',
                              id:"birth-date",
                              use_month_numbers: true,
                              prompt:'--',
                              start_year: (Time.now.year + 1),
                              end_year: 1999,
                              date_separator: '%s'),
                            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
              </div>
          </div>
      

          <div class="field">
            <%= f.label :finish_date , "公演終了(予定)日"  %>
              <div class='input is-grouped'>
                <%= raw sprintf(
                            f.date_field(
                              :finish_date,
                              class:'select-date',
                              id:"birth-date",
                              use_month_numbers: true,
                              prompt:'--',
                              start_year: (Time.now.year + 1),
                              end_year: 1999,
                              date_separator: '%s'),
                            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
              </div>
          </div>

          <div class="field">
            <%= f.label :time_table , "タイムテーブル" ,class: "label" %>
            <%= f.text_area :time_table , class: "textarea",autofocus: true,placeholder:'例）' %>
          </div>
          
          <div class="field">
            <%= f.label :price , "金額" ,class: "label" ,placeholder:"例)2000"%>
            <%= f.text_field :price , class: "input" %>
          </div>


          
                  
          <div class="actions">
            <%= f.submit '次へ進む', class: "button is-success" %>
          </div>

        <% end %>


      </div>
    </div>
  </div>
</section>

