
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        マイページ
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="columns is-centered">
          <div class="column is-4">
            <figure class="image is-128x128"  style="margin-left: auto; margin-right: auto;">
            <% if @user.image.attached?%>
              <%= image_tag @user.image, class: "profile_image is-rounded" %>
            <% end %>
            </figure>
          </div>
          <div class="column is-8">
            <table class="table is-fullwidth">
              <tr>
                <td class="is-size-4">
                  <strong><%= @user.nickname %></strong>
                </td>
                <% if @user.id == current_user.id %>
                <td class="is-size-4">
                  <%= @user.email %>
                </td>
                <td>
                  <%=link_to "編集", edit_user_path(@user), class: "button is-primary"%>
                </td>
                <% end %>
              </tr>
            </table>
            <table class="table is-fullwidth">
              <tr>
                <td>
                  <%= @user.profile %>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="Card__title">
                    <h2>カード情報</h2>
                  </div>
                  <div class="Card_info">
                    【カード番号】
                    <br>
                    <%= "**** **** **** " + @card[:last4] %>
                    <%# カード番号の下4桁を取得 %>

                    <br>
                    【有効期限】
                    <br>
                    <%= @card[:exp_month] %>
                    <%# 有効期限の「月」を取得 %>
                    /
                    <%= @card[:exp_year] %>
                    <%# 有効期限の「年」を取得 %>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<p>劇団のロゴを出現させたい</p>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
    <% if @favorite_list.present? %>
      <% @favorite_list.each do |perform| %>
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= link_to performance_path(perform.id) do %>
                <% if perform.image.attached?%>
                  <%= image_tag perform.image %>
                <% end %>
              <% end %>
            </figure>

          <div class= "favorite" id="performance-link-<%= perform.id %>">
          <%= render "performances/performance", perform: perform %>
          </div>

                </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <% link_to group_path(perform.group.id) do %>
                      <% if perform.group.image.attached?%>
                        <%= image_tag perform.group.image %>
                        
                      <% end %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="title">『<%= link_to perform.title, performance_path(perform.id) %>』</div>
                  <div class="content">主宰：<%= link_to perform.group.name, group_path(perform.group) %></div>
                  <% if user_signed_in? %>
                    <%= link_to '購入する', order_performance_path(perform.id), method: :post %>
                  <% end %>
                </div>
              </div>

              <div class="content">
                <time><%= perform.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</section>