

<% if group_signed_in? %>
  <%= "ようこそ、#{current_group.name}様" %>
<% elsif user_signed_in? %>
  <strong><%= "ようこそ、#{current_user.nickname}様" %></strong>
<% end %>

  
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        公演一覧
      </h1>
    </div>
  </div>
</section>


<p>劇団のロゴを出現させたい</p>
<div id="tag_cloud">
  <% tag_cloud Performance.tag_counts, %w{s m l} do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class %>,
  <% end %>
</div>


<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @performances.each do |perform| %>
      <div class="column is-4">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <%= link_to performance_path(perform.id) do %>
                <% if perform.image.attached?%>
                  <%= image_tag perform.image %>
                  <% if user_signed_in? %>
                    <% if perform.performance_order.blank? %>
                      <div class='perform'>
                        <span>未購入</span>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            </figure>

          <div class= "favorite" id="performance-link-<%= perform.id %>">
          <%= render "performances/performance", perform: perform %>
          </div>

                </div>
          <div class="title is-centered">『<%= link_to perform.title, performance_path(perform.id) %>』</div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <% link_to group_path(perform.group.id) do %>
                      <% if perform.group.image.attached? %>
                      
                        <%= image_tag perform.group.image %>
                      <% end %>
                    <% end %>
                  </figure>
                </div>
                <div class="media-content">
                  
                  <div class="content">主宰：<%= link_to perform.group.name, group_path(perform.group) %></div>
                    <p>Tags:  <%= raw perform.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
                  <p>料金：<%= perform.price %>円</p>
                </div>
                <% if user_signed_in? %>
                  <%= link_to '購入する', order_performance_path(perform.id), method: :post %>
                <% end %>
              </div>
              

              <div class="content">
                <time><%= perform.updated_at.strftime("%Y-%m-%d %H:%M") %></time>更新
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>


