<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        新規作成
      </h1>
    </div>
  </div>
</section>
<p>その他の項目(text_area)</p>
<p>タイムテーブル（textarea）</p>
<p>脚本（text_field）</p>
<p>演出（text_field）</p>
<p>上演時間:約（pulldown）時間（pulldown）分</p>
<p>その他の項目（注意事項等）text_area</p>
<p>公式サイト(text_field)</p>
            


<% if @performance.errors.any? %>
  <div class="notification is-danger">
    <h2><%= pluralize(@performance.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @performance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<%end%>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @performance do |f| %>


          <div class="field">
            <%= f.label :image, "フライヤー" %>
            <%= f.file_field :image, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :title, "公演名", class: "label" %>
            <%= f.text_field :title , class: "input" %>
          </div>

          <div class="field">
            <%= f.label :explain , "公演内容" ,class: "label" %>
            <%= f.text_area :explain , class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :player , "出演者" ,class: "label" %>
            <%= f.text_area :player, class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :staff , "スタッフ" ,class: "label" %>
            <%= f.text_area :staff , class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :place , "劇場名" ,class: "label" %>
            <%= f.text_field :place ,class: "input" %>
          </div>

          
            <%= f.label :start_date , "公演開始(予定)日" ,class: "label" %>
            <div class='input is-grouped'>
              <%= raw sprintf(
                          f.date_select(
                            :start_date,
                            class:'select-birth',
                            id:"birth-date",
                            use_month_numbers: true,
                            prompt:'--',
                            start_year: (Time.now.year + 1),
                            end_year: 1999,
                            date_separator: '%s'),
                          "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
            </div>
        

          <div class="field">
            <%= f.label :finish_date , "公演終了(予定)日" ,class: "label" %>
            <div class='input is-grouped'>
              <%= raw sprintf(
                          f.date_select(
                            :finish_date,
                            class:'select-birth',
                            id:"birth-date",
                            use_month_numbers: true,
                            prompt:'--',
                            start_year: (Time.now.year + 1),
                            end_year: 1999,
                            date_separator: '%s'),
                          "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
            </div>
          </div>

          <div class="field">
            <%= f.label :time_table , "タイムテーブル" ,class: "label" %>
            <%= f.text_area :time_table , class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :writer , "脚本" ,class: "label" %>
            <%= f.text_field :writer , class: "input" %>
          </div>

          <div class="field">
            <%= f.label :directer , "演出" ,class: "label" %>
            <%= f.text_field :directer , class: "input" %>
          </div>

          <div class="field">
            <%= f.label :play_hour,"上演予定時間:約", class: 'control-label'%>
            <%= f.text_field :play_hour, class: 'form-control'%>
            <%= f.label :play_minutes, "時間",class: 'control-label'%>
            <%= f.text_field :play_minutes, class: 'form-control'%>分
          </div>

          <div class="field">
            <p>休憩時間</p>
            <label><%= f.radio_button :rest, "あり" %> あり </label>
            <label><%= f.radio_button :rest, "なし" %> なし</label>
          </div>

          <div class="field">
            <p>観客</p>
            <label><%= f.radio_button :audience, "観客あり" %> 観客の入場あり </label>
            <label><%= f.radio_button :audience, "観客なし" %> 観客の入場なし</label>
          </div>

          <div class="field">
            <%= f.label :price , "金額" ,class: "label" ,placeholder:"例)2000"%>
            <%= f.text_field :price , class: "input" %>
          </div>



          <div class="field">
            <%= f.label :other_notice, "その他（注意事項など）" ,class: "label" %>
            <%= f.text_area :other_notice , class: "textarea" %>
          </div>

          <div class="field">
            <%= f.label :video ,"動画のアップロード" %>
            <%= f.file_field :video_top, :accept => 'video/*' %>
          </div>


            <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

