<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <div class="title">
        公演詳細
      </div>
    </div>
  </div>
</section>


<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <table class="table is-narrow">
                  <tr>
                    <th>公演名</th>
                  </tr>
                  <tr>
                    <td><%= simple_format @performance.title %></td>
                  </tr>
                  <tr>
                    <td>
                      <%= video_tag(@performance.video.to_s, :controls => true, size: "500x300")  %> 
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          
            <% if group_signed_in? %>
              <div class="content">
                <% if @performance.group.id == current_group.id %>
                  <%= link_to "編集画面へ", edit_performance_path(@performance), class: "button is-success" %>
                  <%= link_to "この作品を削除する", performance_path(@performance), method: :delete, data: { confirm: "削除しますか？" },class: "button is-danger" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="column is-4">
          <article class="panel is-link">
            <p class="panel-heading">
              <% if @performance.image.attached?%>
                <%= image_tag  @performance.image %>
              <% end %>
              <% if @performance.group.image.attached?%>
                By   <%= image_tag @performance.group.image %>
              <% end %>
            </p>
            <div class="panel-block">
              <p class="control">
                <%= simple_format(@performance.explain) %>
              </p>
            </div>
            <div class="panel-block">
              <p class="control">
                <%= "キャスト：" %>
                <%= simple_format(@performance.player) %>
              </p>

            </div>
            <div class="panel-block">
              <p class="control">
                <%= "スタッフ：" %>
                <%= simple_format(@performance.staff)%>
              </p>
            </div>
            <div class="panel-block">
              <p class="control">
                <%= "公開日：#{@performance.start_date} 〜 #{@performance.finish_date}" %>
 
              </p>
            </div>


            <%= link_to group_path(@performance.group), class: "panel-block" do %>
              <span class="panel-icon">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
              <%= @performance.group.name %> さんのページへ
            <% end %>
          </article>
        </div>
      </div>
    </div>

    <h2>ここにコメント欄</h2>
  </div>
</section>









